/* Footer.css */

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.menu-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-item {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #efe365;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(254, 242, 6);
}

.menu-item:nth-child(1) {
  transform: rotate(-90deg) translate(90px) rotate(90deg);
  text-decoration: none;
}

.menu-item:nth-child(2) {
  transform: rotate(150deg) translate(90px) rotate(-150deg);
  text-decoration: none;
}

.menu-item:nth-child(3) {
  transform: rotate(30deg) translate(90px) rotate(-30deg);
  text-decoration: none;
}
